#include <windows.h>
#include "..\src\resource.h"

LANGUAGE 9, 1

IDD_TERMINAL_PANEL DIALOGEX 0, 0, 600, 300
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "NppTerminal"
BEGIN
END
