#include <windows.h>
#include "resource.h"
#include "Version.h"

LANGUAGE 9, 1

IDD_TERMINAL_PANEL DIALOGEX 0, 0, 600, 300
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "NppTerminal"
BEGIN
END

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 260, 126
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "About NppTerminal"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "NppTerminal", -1, 12, 12, 220, 12
    LTEXT           "Version:", -1, 12, 28, 48, 12
    LTEXT           NPPTERMINAL_VERSION_STRING, -1, 64, 28, 168, 12
    LTEXT           "An embedded terminal for Notepad++.", -1, 12, 46, 220, 12
    LTEXT           "Author: Duc Le", -1, 12, 64, 220, 12
    CONTROL         "<A HREF=""https://ducle.uk"">https://ducle.uk</A>", IDC_ABOUT_WEBSITE, "SysLink", WS_TABSTOP | WS_VISIBLE | WS_CHILD, 12, 80, 120, 12
    DEFPUSHBUTTON   "Close", IDCANCEL, 198, 102, 50, 14, WS_TABSTOP
END

1 VERSIONINFO
FILEVERSION NPPTERMINAL_VERSION_FILE_COMMA
PRODUCTVERSION NPPTERMINAL_VERSION_FILE_COMMA
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "NppTerminal contributors\0"
            VALUE "FileDescription", "NppTerminal Notepad++ plugin\0"
            VALUE "FileVersion", NPPTERMINAL_VERSION_STRING "\0"
            VALUE "InternalName", "NppTerminal.dll\0"
            VALUE "OriginalFilename", "NppTerminal.dll\0"
            VALUE "ProductName", "NppTerminal\0"
            VALUE "ProductVersion", NPPTERMINAL_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
