#include <windows.h>
#include "resource.h"
#include "Version.h"

LANGUAGE 9, 1

IDD_TERMINAL_PANEL DIALOGEX 0, 0, 600, 300
STYLE DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "NppTerminal"
BEGIN
END

1 VERSIONINFO
FILEVERSION NPPTERMINAL_VERSION_FILE_COMMA
PRODUCTVERSION NPPTERMINAL_VERSION_FILE_COMMA
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "NppTerminal contributors\0"
            VALUE "FileDescription", "NppTerminal Notepad++ plugin\0"
            VALUE "FileVersion", NPPTERMINAL_VERSION_STRING "\0"
            VALUE "InternalName", "NppTerminal.dll\0"
            VALUE "OriginalFilename", "NppTerminal.dll\0"
            VALUE "ProductName", "NppTerminal\0"
            VALUE "ProductVersion", NPPTERMINAL_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
